<div *ngIf="item" class="item">
    <mat-card class="example-card">
          <div class="info-ed">
            <mat-card-subtitle>
              <p>{{ item.tipo }} - {{ formatter.getStatus(item.terminado) }}</p>
            </mat-card-subtitle>
              <mat-card-title>{{ item.nombre }}</mat-card-title>
              <p>{{ item.institucion }}</p>
            </div>
                <button class="btn btn-dark" (click)="openDialog()">Ver más</button>
        <mat-divider inset></mat-divider>
      </mat-card>
</div>