<div *ngIf="item">
    <mat-card class="example-card">
        <div class="row">
          <div class="col">
            <mat-card-subtitle>
              <p>{{ item.tipo }} - {{ getStatus() }}</p>
            </mat-card-subtitle>
            <mat-card-title>{{ item.nombre }}</mat-card-title>
          </div>
        </div>
        <mat-card-content>
          <div class="row">
            <div class="col">
              <p>{{ item.institucion }}</p>
              <p>{{ getFechaInicial() }} - {{ getFechaFinal() }}</p>
            </div>
          </div>
        </mat-card-content>
        <mat-divider inset></mat-divider>
      </mat-card>
</div>