.arg-programa {
    background-color: #1A1A40;
    position: fixed;
    width: 100%;
    top: 0;
}

.ap-logo {
    width: 8%;
}

.navbar {
    transition: none;
}

.active {
    color: #FA58B6;
    border-bottom: 1px solid;
}

.navbar-collapse {
    align-items: center;
}

.header-nav {
    text-align: center;
}