.card {
    color: black;
    max-width: 500px;
    margin: 0px;
}

.mat-card {
    overflow: auto;
}

.col-card {
    margin: 2px;
    min-width: fit-content;
    max-width: 35%;
}

::ng-deep.mat-dialog-container {
    text-align: start;
    min-width: min-content;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: white;
  }

  ::-webkit-scrollbar-track {
    opacity: 0; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #FA58B6;
    border-radius: 35px;
  }