<section id="contacto">
    <div class="container-fluid">
        <div class="section-title text-center">
            <h2>Redes y contacto</h2>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-md-2" *ngFor="let item of contactoItems">
                <contacto-item [data]="item"></contacto-item>
            </div>
        </div>
        <div class="text-center subtitle">
            <p>Desarrollado por Joaquín Spinelli como proyecto final para "Argentina Programa #YoProgramo".</p>
        </div>
    </div>
</section>