#sobre-mi {
    height: 50vh;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: justify;
}

img {
    width: 200px;
    height: 200px;
    min-width: 200px;
    border-radius: 50%;
    object-fit:cover;
}

p {
    font-size: 20px;
}

.col-2 {
    min-width: min-content;
}