.form-group {
    margin: 25px;
}

::ng-deep.mat-dialog-container {
    text-align: center;
}

.form-control-plaintext {
    border-bottom: 1px solid white;
    color: white;
}

.login:hover {
    background-color: #FA58B6;
    color: white;
}

.actions {
    justify-content: center;
}

.btn:hover {
    color: white;
}
