/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    color: white;
    background-color: #7A0BC0;
}

section {
    width: 100%;
    display: flex;
}

.subtitle {
    opacity: 50%;
}

.section-title {
    padding: 5%;
}

.section-title h1 {
    border-bottom: 1px solid white;
}

.nav-link:hover {
    color: #FA58B6;
}

.nav-link {
    color: white;
    font-size: 20px;
    border-bottom-color: #FA58B6;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn-dark, .btn-dark:focus {
    background-color: #7A0BC0;
    color: white;
    border: none;
    box-shadow: none;
}

::ng-deep.mat-dialog-container {
    background-color: white;
    color: black;
    height: auto;
}

.btn-dark:hover {
    color: #FA58B6;
    background-color: #1A1A40;
}

.btn {
    border-radius: 25px;
    border: 2px solid white;
}

.btn-pink {
    border-color:#FA58B6;
    color:#FA58B6;
    margin: 15px;
}

.btn-gray {
    border-color: gray;
    color: gray;
}

.btn-pink:hover {
    background-color:#FA58B6;
}

.btn-gray:hover {
    background-color: gray;
    color: white;
}

.item {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}
  
.item.active{
    transform: translateY(0);
    opacity: 1;
}

::-webkit-scrollbar {
    width: 10px;
    background: #1A1A40;
}

::-webkit-scrollbar-track {
    opacity: 0; 
}
   
::-webkit-scrollbar-thumb {
    background: #E15FED;
    border-radius: 35px;
}

::-webkit-scrollbar-thumb:hover {
    background: #FA58B6;
}
